.enter, .leave {
  position: absolute; }

.enterActive, .leaveActive {
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 350ms;
          transition-duration: 350ms;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform; }

.enter {
  opacity: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%); }
  .enter.enterActive {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); }

.leave {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0); }
  .leave.leaveActive {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
