.enter, .leave {
  position: absolute; }

.enterActive, .leaveActive {
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition: opacity, -webkit-transform;
  transition: opacity, -webkit-transform;
  transition: transform, opacity;
  transition: transform, opacity, -webkit-transform; }

.enter {
  opacity: 0;
  -webkit-transform: scale(0.85);
          transform: scale(0.85); }
  .enter.enterActive {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); }

.leave {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1); }
  .leave.leaveActive {
    opacity: 0;
    -webkit-transform: scale(1.25);
            transform: scale(1.25); }
