html,body, #app, #login{
  margin: 0;
  height: 100%;
}

.tabContent{
  margin: 4vh
}

.tabContent > *{
  margin-bottom: 2vh
}


#idLeftCard{

  text-align: center;
  padding: 1vh 1vw;

}

#etherSymbol{

  font-weight: bold;
  font-size: 2vh;

}

#login{
  background-color: #4FC3F7;
}

#login > div {
  position: absolute;
  top:0;
  left: 0;
  right: 0;

  margin: 15vh;
